////
// HEADER
////

#wrapper {
  #top-menu {
    background: #111;
    a {
      color: #fff;
      font-weight: normal;
      &:hover {
        color: #85c7ff;
      }
    }
    // Hide "Logged in as".
    #loggedas {
      color: transparent;
      pointer-events: none;
      a {
        pointer-events: auto;
      }
    }
  }
  #header {
    background-image: url("/themes/PurpleMine2/images/morpht-logo.svg"), linear-gradient(#e6e6e6, $brand-primary);
    background-repeat: no-repeat, repeat-x;
    background-position: 20px 5px, 0 0;
    background-size: auto 38px;
    @media (max-width: 899px) {
      background-color: $brand-primary;
      background-position: 15px 10px, 0 0;
    }
    a.mobile-toggle-button {
      border-left: #ccc;
      color: #333;
    }
    h1 {
      margin-left: 170px !important;
      padding: 12px 20px;
      border-left: 1px solid #bcbcbc;
      color: #333;
      font-size: 1.5em;
      font-weight: normal;
    }
    #quick-search {
      @media (max-width: 899px) {
        display: none;
      }
    }
    #quick-search,
    #quick-search a,
    #quick-search select {
      color: #333;
    }
  }
  #header > h1 .root,
  #header > h1 a.root {
    color: #333 !important;
  }
}

////
// LOGIN
////

#wrapper {
  .button-login-text {
    background-image: none;
  }
}

////
// My Page -> Issues assigned to me.
////

// Hide "New issue" link by default.
a.icon.new-issue {
  display: none;
}
// Only show "New issue" link on project pages.
body[class^="theme-Purplemine2 project-"] a.icon.new-issue {
  display: inline-block;
}

////
// ISSUES LISTING
////

#history p.nodata {
  display: none;
}

////
// BESTEST TIMER
////

.bestest_timer_button:not(:hover) {
  background-color: grey !important;
  box-shadow: 0 1px 0 #555 !important;
}
.bestest_timer_button {
  height: inherit !important;
}
.bestest_timer_activities {
  // Text and radio button.
  label {
    line-height: 24px;
    // Radio button.
    input {
      margin-right: 7px;
    }
  }
}

////
// TABLE LISTINGS
////

tr.issue {
  color: black;
}
// Priority colors.
tr.priority-highest {
  color: black;
  td {
    a {
      // AA compliant contrast.
      color: $dark-blue;
    }
  }
}
// Background colors.
@each $priority-id, $priority-color in $priority-icons-map {
  table.list tbody tr.priority-#{$priority-id} {
    background: map-get($priority-color, color-bg);
  }
}

////
// WATCHERS
////

#sidebar #watchers {
  ul {
    // Remove margin which makes icons appear outside of container.
    margin-right: 0;
    li {
      // Stop text breaking onto a new line.
      // TODO: Remove when PurpleMine2 fixes this.
      > a:not(.icon-only) {
        display: inline;
        padding-left: 0;
      }
    }
  }
}

////
// SATISFACTION
////

.vote,
.myvote {
  position: relative;
  > .label {
    visibility: hidden;
    &::after {
      visibility: visible;
      position: absolute;
      left: 0;
    }
  }
  > .value {
    .vote_on_issues-issue-votes-nowrap {
      padding-right: 10px;
      > .vote_on_issues-icon-votes {
        display: none;
      }
    }
  }
}

// Labels.
.vote > .label::after {
  content: "Satisfaction:";
}
.myvote > .label::after {
  content: "My satisfaction:";
}

// Vote results.
#vote_on_issues_nVotesUp::after,
#vote_on_issues_nVotesDn::after {
  display: inline-block;
  padding-left: 5px;
  &:hover {
    cursor: pointer;
  }
}
#vote_on_issues_nVotesUp::after {
  content: "👍";
}
#vote_on_issues_nVotesDn::after {
  content: "👎";
}

// My vote buttons.
.myvote {
  #vote_on_issues_MyVoteUpOff,
  #vote_on_issues_MyVoteDnOff {
    display: none !important;
  }
  .vote_on_issues-icon-vote {
    padding-left: 5px;
  }
  .vote_on_issues-icon-vote[href$="vote_val=vup"]::after {
    content: "👍";
  }
  .vote_on_issues-icon-vote[href$="vote_val=vdn"]::after {
    content: "👎";
  }
}
